<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>building LAMP</title>
    <link rel="icon" type="image/png" href="/public/images/lamp-new-logo.svg" sizes="32x32">
    <link rel="stylesheet" href="../public/css/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee+Tint&family=Chokokutai&family=Comfortaa:wght@300..700&family=Coral+Pixels&family=Dongle&family=Gaegu&family=IM+Fell+Double+Pica:ital@0;1&family=Jersey+15&family=Kirang+Haerang&family=Lacquer&family=Lexend+Deca:wght@100..900&family=Rubik+Dirt&family=Special+Elite&family=Syne+Mono&family=Tiny5&display=swap');
    </style>
</head>

<header>
    <a href="../index.html">
        <div class="logo">
            <img src="../assets/daisyland-branding/daisy-icon.png" alt="daisy logo">
        </div>
    </a>

    <nav>
        <ul>
            <li><a href="../index.html#projects">projects</a></li>
            <li><a href="../about.html">about</a></li>
            <li><a href="../index.html#contact">contact</a></li>
        </ul>
    </nav>
</header>
<section class="overview">
    <h5>what does it mean to be a<em> Listener</em>?</h5>
    <hr>
    <h3>audiophiles, critics, haters, fans & enjoyers</h3>
    <p> One of our proposed ideas for LAMP was the use of user types, kind of like personality quizzes and personality
        types, we
        liked the idea of different kinds of music enjoyers and debated what each kind of person would want from a
        social
        platform- and then saw potential in the categorization. After a lot of self reflection, and brainstorming we
        landed on four distinct user types.</p>
    <h5><em></em></h5>
</section>
