<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> LAMP</title>
    <link rel="icon" type="image/png" href="" sizes="32x32"> 
    <!-- for favicon ^ -->
    <link rel="stylesheet" href="/css/styles.css" />
<style>
    @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee+Tint&family=Chokokutai&family=Comfortaa:wght@300..700&family=Coral+Pixels&family=Dongle&family=Gaegu&family=IM+Fell+Double+Pica:ital@0;1&family=Jersey+15&family=Kirang+Haerang&family=Lacquer&family=Lexend+Deca:wght@100..900&family=Rubik+Dirt&family=Special+Elite&family=Syne+Mono&family=Tiny5&display=swap');
    @import url("https://use.typekit.net/ldr5vzi.css");
</style>
</head>

<body>
    <header>
        <a href = "index.ejs">
            <div class="logo">
                <img src="" alt="LAMP LOGO ">
            </div>
        </a>
    </header>

    <form method="dialog">
        <h2>
            Sign Up
        </h2>
        Username: <input type="username" minlength="4" , maxlength="10" , required />
        <br><br>
        password: <input type="password" minlength="4" , maxlength="10" , required />
        <br><br>
        Confirm Password: <input type="confirmed_password" minlength="4" , maxlength="10" , required />
        <br><br>
        <input type="Submit" value="submit">
    </form>
</body>


</html>