<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> LAMP</title>
    <link rel="icon" type="image/png" href="" sizes="32x32"> 
    <!-- for favicon ^ -->
    <style>
        /* link to stylkesheet */
    </style>
</head>

<body>
    <header>
        <a href = "index.ejs">
            <div class="logo">
                <img src="" alt="LAMP LOGO ">
            </div>
        </a>
    </header>

    <form method="dialog">
        <h2>
            Sign Up
        </h2>
        Username: <input type="username" minlength="4" , maxlength="10" , required />
        <br><br>
        password: <input type="password" minlength="4" , maxlength="10" , required />
        <br><br>
        Confirm Password: <input type="confirmed_password" minlength="4" , maxlength="10" , required />
        <br><br>
        <input type="Submit" value="submit">
    </form>
</body>


</html>