<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LAMP - Login</title>

        <link rel="icon" type="image/png" href="/images/transperent-lamp-cd.png" sizes="32x32">
        <link rel="stylesheet" href="/css/login.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee+Tint&family=Chokokutai&family=Comfortaa:wght@300..700&family=Coral+Pixels&family=Dongle&family=Gaegu&family=IM+Fell+Double+Pica:ital@0;1&family=Jersey+15&family=Kirang+Haerang&family=Lacquer&family=Lexend+Deca:wght@100..900&family=Rubik+Dirt&family=Special+Elite&family=Syne+Mono&family=Tiny5&display=swap');
    </style>
</head>

<body>
    <div class="login-box">
        <h1>LAMP</h1>
        <h2>log in</h2>
        <form action="/users/login" method="POST">
            <input name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">enter</button>
        </form>

        <!-- ERROR MESSAGE - Wrong User/Password -->
        <% if (error) { %>
            <div class="error">
                <%= error %></div>
        <% } %>

        <a href="/users/signup" class="create-account">create account</a>
    </div>
</body>

</html>
