body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Coral Pixels';
}

.container {
    display: flex;
    gap: 50px;
    align-items: center;
}

.image-box {
    width: 300px;
    height: 400px;
    border: 2px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    border: 2px solid gray;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #71db71;
    color: black;
}

input::placeholder {
    color: black;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    border: 1px dashed gray;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}